.container {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

/*Cabecera*/
.header {
	width: 80%;
	margin: 0 auto;
	padding-top: 5%;
	padding-bottom: 5%;
}
.header1 {
	width: 100%;
}

/*Menu*/
.menu {
	width: 80%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0 auto;
	margin: 0 auto;
}
ul {
	list-style: none;
	padding-left: 0;
}
li {
	display: inline-block;
	text-align: center; 
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
}
a {
	text-decoration: none;
	color: black;
}
.deco {
	border-right: 1px black solid;
}

/*Imagen grupal*/
.conImgGrupal {
	width: 80%;
	margin: 0 auto;
} 
.imgGrupal {
	width: 100%
}

/*Parrafo*/
.containerParrafo {
	width: 80%;
	margin: 0 auto;
}
.bordeParrafo {
	width: 10%;
}
p {
	width: 80%;
	margin: 0 auto;
}

/*Nuestras Coders */
.nuestrasCoders {
	width: 80%;
	margin: 0 auto;
}
h3 {
	text-align: left;
	padding: 0 auto;
}
.decoNuestrasCoders {
	width: 10%;
}
.granCodersContainer{
	width: 100%;
}
.codersContainer {
	width: 30%;
	padding: 1%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
}
.imgCoders {
	width: 100%;
	position: relative;
}
.codersContainer p {
	z-index: 2;
	font-size: 14px;
	position: absolute;
	bottom: 10%;
	text-align: right;
	color: #fff;
}

/*Estilos de Coder Detail*/
.container2 {
	border: 1px solid black;
	padding: 15px;
}
.perfilCoderImg {
	width: 100px;
	border-radius: 50px;
	margin-top: 10px; 
}
h2 {
	text-align: left;
}
.habilidad {
	text-align: left;
	padding: 10px;
	background: gray;
	margin: 15px;
	color: white;
}
.habilidad1 {
	width: 80%;
}
.habilidad2 {
	width: 60%;
}
.habilidad3 {
	width: 40%;
}
.portafolio {
	width: 100%;
}
.portafolio img{
	width: 25%;
	margin: 2%;
}

.superhero {
    -webkit-animation: example 4s infinite;
    animation: example 4s infinite;
    position: fixed;
	right:0;
	top: 30%;
	z-index: 3;
}
@-webkit-keyframes example {
    from {right: 0;}
    to {right: 100%;}
}
@keyframes example {
    from {right: 0;}
    to {right: 100%;}
}